# copy to .envrc
# direnv allow .

export INSPECT_START=9488
export INSPECT_MAIN=9365
export INSPECT_RENDERER=9366

#export CSC_LINK=""
#export CSC_KEY_PASSWORD=""
#export WIN_CSC_LINK=""
#export WIN_CSC_KEY_PASSWORD=""
#export APPLE_DEVELOPER_ID=""
#export APPLE_DEVELOPER_PASSWORD=""