# cp .envrc.template .envrc
# direnv allow .
# or set your system envs

# sentry
# ------------------------------
# export REACT_APP_SENTRY_DSN=""

# electron-builder environments
# ------------------------------
# export CSC_LINK=""
# export CSC_KEY_PASSWORD=""
# export WIN_CSC_LINK=""
# export WIN_CSC_KEY_PASSWORD=""
# export APPLE_DEVELOPER_ID=""
# export APPLE_DEVELOPER_PASSWORD=""
